name: Generate Trophies

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate trophy
        run: |
          curl -o trophy.svg "https://github-profile-trophy.vercel.app/?username=KennethJF23&theme=radical&no-frame=false&no-bg=true&margin-w=4"

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
